body{
	background: #2f3238;
  height:auto;
}

header {
	margin-top: 50px;
	margin-bottom: 50px;
}

header .banner-text { 
	width: 100%; 
	text-align:center;
	position:relative;
}

header .banner-text h1 {
   font: 90px/1.1em '微软雅黑', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

hr { width:80%; height:2px; background: #fff }

.button{
	position:fixed;
	height:5%;
	font: 16px/30px 'opensans-bold', sans-serif;
	background: #11ABB0;
    z-index: 0;
	
	letter-spacing: 0;
	color: #fff;
	padding: 4px;
	margin-bottom: 18px;
	border: none;
	cursor: pointer;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
			
}

.button:hover {
   background: #3d4145;
   color: #fff;
}
#LeftUp{left: 0; top:0;}
#LeftDown{left:0;bottom:0;}
#RightUp{right:0; top:0;}
#RightDown{right:0; bottom:0;}

.img-wall{
	margin-left: 5%;
	margin-right: 5%;
}

.img-column{
	padding: 0;
    float: left;
    width:30%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
}

#img{
    border-radius: 5px;
    line-height: 0;
    display: block;
    margin-bottom: 3%;
}

.lightbox .lb-image
{
    max-width: none;
}

.popBg{
  background:#000; 
  opacity:0.7; 
  filter:alpha(opacity=50);
  height:100%; 
  width:100%; 
  position:fixed; 
  left:0;
  top:0;
  _position:absolute; 
  z-index:99;
}

.popWrap{ 
  position:fixed;
  z-index:100;
}

.comments{
  background: #ebeeee;
  overflow: scroll;
  overflow-x:visible;
  position: fixed;
  z-index: 100;
  height: 50%;
  margin-left:10px;
  border-radius: 5px;
  top:25%;
}

.comments p{
  text-align: center;
  font: 12px/1.1em '微软雅黑';
}

#pageup{
  font: 12px/1.1em '微软雅黑';
  width:30%;
  height:50px;
  bottom: 10px;
  margin-left: 10%;
  left:0px;
  position:absolute;
}

#pagedown{
  font:12px/1.1em '微软雅黑';
  width:30%;
  height:50px;
  bottom: 10px;
  margin-right: 10%;
  right:0px;
  position:absolute;
}

a img{
    position: static;
    background: #df4e4e;
    border-width: 10px; 
    border-radius: 5px;
    width: 100%;
    z-index: 10;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); 
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

a img:hover {
  opacity: 0.9;
  transition-duration: 0.8s;
  -webkit-transform: translate3d(0,-80px,0);
  transform: translate3d(0,-80px,0);
}

.img-text p{
  z-index: 9;
  position: static;
  text-align: right;
  font:16px '微软雅黑';
  top:0;
  padding: 3%;
  left: 0;
}

.img-text{
  background: #df4e4e;
}

.img-process{ 
  z-index:100;
  position: fixed;
  width:100px;
  height:100px;
  left:500px;
}