body{
	background: #ebeeee;
    height:auto;
}

header {
	margin-top: 50px;
	margin-bottom: 50px;
}

header .banner-text { 
	width: 100%; 
	text-align:center;
	position:relative;
}

header .banner-text h1 {
   font: 90px/1.1em '微软雅黑', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

hr { width:80%; height:2px; background: #fff }

.button{
	position:fixed;
	width: 50px;
	height:50px;
	font: 16px/30px 'opensans-bold', sans-serif;
	background: #11ABB0;
    z-index: 0;
	
	letter-spacing: 0;
	color: #fff;
	padding: 4px;
	margin-bottom: 18px;
	border: none;
	cursor: pointer;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
			
}

.button:hover {
   background: #3d4145;
   color: #fff;
}
#LeftUp{left: 0; top:0;}
#LeftDown{left:0;bottom:0;}
#RightUp{right:0; top:0;}
#RightDown{right:0; bottom:0;}

.img-wall{
	margin-left: 5%;
	margin-right: 5%;
}

.img-column{
	padding: 0;
    float: left;
    width:30%;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
}

#img{
    margin-bottom: 3%;
    padding: 3%;
    line-height: 0;
    display: block;
}

#img .pic {
    z-index: 16;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); 
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); 
}

#img img{
    border-color: white;
    border-width: 10px; 
    border-radius: 5px;
    width: 100%;   
}

#img:hover img{
    border-width: 5px;
}
