body{
	background-color:lightblue;
}

#layout{
	position:absolute;
	top:5%;
	left:21%;
	border:5px;
	width:800px;
	height:580px;
	background-color:#DDD;
	background-image:url(../images/start_bg.png);
}

img{
	  position:absolute;
      border: none;
      cursor: pointer;
    } 

@-webkit-keyframes buzz-out 
{
    0% {
        -webkit-transform: translateX(3px) rotate(2deg);
        }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
         }
}

img:hover  {
            -webkit-animation-name: buzz-out;
            -webkit-animation-duration: 2s;
            -webkit-animation-timing-function: linear;
            -webkit-animation-iteration-count: 1;
}	
	
#Mode2{
	  position:absolute;
	  top:50%;
	  left:15%;
    } 
#Mode1{
      position:absolute;
	  top:50%;
	  left:40%;
    }   
#Mode3{
	  position:absolute;
	  top:50%;
	  left:65%;
    }  
	
#player1_key{
	position:absolute;
	top:50%;
	left:15%;
	display:none;
}

#player2_key{
	position:absolute;
	top:50%;
	left:55%;
	display:none;
}
